.battletag-popover {
    background: #3C4249;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
    z-index: 10000;
}

.battletag-loading {
    padding: 3px 4px 0 2px;
}

.battletag-preview {
    color: #FFFFFF;
    cursor: pointer;
    line-height: 24px;
    min-width: inherit;
    padding: 0 8px;
}

.battletag-select > a {
    color: #F7DA8D !important;
    line-height: 34px;
    margin-top: 1px;
    padding: 0 14px 0 12px;
}

.battletag-select > a font {
    color: #FFFFFF;
    padding-right: 6px;
}

.battletag-select a {
    display: block;
    text-decoration: none !important;
}

.battletag-select a:hover {
    background-color: #21252B;
}

.battletag-select table {
    width: 100%;
}

.battletag-select td {
    overflow:hidden;
}

.battletag-select td:not(:first-of-type) {
    width: 34px;
}

.battletag-select input {
    border: 0;
    color: #FFFFFF;
    display: block !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: normal;
    height: 34px;
    line-height: 13px;
    min-width: 128px;
    padding: 0 0 0 12px;
    width: 100%;
}

.battletag-select table a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    height: 34px;
    line-height: 30px;
    margin-left: 1px;
    text-align: center;
}

.battletag-select table a:first-of-type {
    font-variant: small-caps;
}

.battletag-select a,
.battletag-select input {
    background-color: #0A0E14;
    outline: none;
}

.battletag-active {
    color: #666666 !important;
    font-weight: normal;
    padding-left: 6px;
}

.battletag-select input::-webkit-input-placeholder {
    color: #666666;
}

.battletag-select input:-moz-placeholder {
    color: #666666;
}

.battletag-select input::-moz-placeholder {
    color: #666666;
}

.map-thumb .quick-join {
    z-index: inherit !important;
}
